<% content_for(:title) { 'Products' } %>
<% content_for :left_panel do %>
  left panel
<% end %>
<table id="products">
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Category</th>
    <th>Manufacturer code</th>
    <th>EAN</th>
    <th>Price</th>
  </tr>
  <%= render partial: 'product', collection: @products %>
</table>
